<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjlLYyXIJ8rcniOBmh3M-cfDqdaNBypnM</string>
	<key>GCM_SENDER_ID</key>
	<string>250914060128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilabdurahmanli.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>matchx-a51bd</string>
	<key>STORAGE_BUCKET</key>
	<string>matchx-a51bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250914060128:ios:4700ce572cde0324a25005</string>
</dict>
</plist>